<!doctype html>
<html>
<head>
    <title>Adicionar Escritório</title>
</head>
<body>
    <h1>Adicionar Escritório</h1>
    <form method="post">
        <label for="num_funcionarios">Número de Funcionários:</label>
        <input type="number" id="num_funcionarios" name="num_funcionarios"><br><br>
        <label for="renda_mensal">Renda Mensal:</label>
        <input type="text" id="renda_mensal" name="renda_mensal"><br><br>
        <label for="gerente">Gerente:</label>
        <input type="text" id="gerente" name="gerente"><br><br>
        <label for="localizacao">Localização:</label>
        <input type="text" id="localizacao" name="localizacao"><br><br>
        <input type="submit" value="Adicionar">
    </form>
    <a href="/">Voltar</a>
</body>
</html>
